*{box-sizing: border-box;}
html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom,rgb(120, 120, 120) 20%,rgb(75, 75, 75)60%);
    color: aqua;
    height: 100%;
    margin: 0;
    font-family: monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}
h1 {
    padding: 10px 10px;
    color: white;
    text-align: center;
    font-size: 60px;
}
.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background-color: #00000099;
    list-style: none;
    z-index: 1;
}
.Skill-List {
    color: white;
    font-size: 40px;
    display: inline-table;
    text-align: center;
    list-style: none;
}

.skill-container {
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    padding: 30px 30px;
    text-decoration: none;   
}
.name {
    float: left;
}
.nav {
    float: right;
    height: 100%;

}
.nav a:hover:not(.active) {
    background-color: aquamarine;

}
.footer {
    background-color: black;
    padding: 10px;
    height: auto;
}
.footer p {
    color: white;
    font-size: 15px;
    text-align: center;
}
p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 2.5vh 15vh 2.5vh 15vh;
    font-size: 40px;
    width:auto;
}
.language {
    text-align: center;
}
.language h1 {
    font-size: 40px;
    color: cadetblue;
}
.language p {
    font-size: 20px;
}
.container {
    padding: 0 2.5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icon-size {
    height: 120px;
    width: 120px;
}
.icon-cpp {
    background-image: url("./images/6132222.png");
}
.icon-cs {
    background-image: url("./images/c-sharp-icon.png");
}
.icon-html {
    background-image: url("./images/html.png");
}
.icon-css {
    background-image: url("./images/css.png");
}
.icon-unity-eng {
    background-image: url("./images/unity engine logo.png");
}
.icon-unreal-eng {
    background-image: url("./images/unreal engine logo.png");
}
.icon-visualstudio {
    background-image: url("./images/visualstudio.png");
}
.icon-visualcode {
    background-image: url("./images/visualcode.png");
}
.icon-android {
    background-image: url("./images/Android.png");
}
.icon-playstation {
    background-image: url("./images/playstation.png");
}
.icon-windows {
    background-image: url("./images/Windows11.png");
}
.icon-oculus {
    background-image: url("./images/Oculus.png");
}
.icon-gtav {
    background-image: url("./images/actual_1364906194.jpg");
    height: 265px;
    width: 470px;
}
.icon-rdr2 {
    background-image: url("./images/rdr2.jpg");
    height: 265px;
    width: 470px;
}
.icon-gta6 {
    background-image: url("./images/gtavi.jpg");
    height: 265px;
    width: 470px;
}
.icon-me {
    background-image: url("./images/ME.png");
    background-size: 400px;
    height: 438px;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.Mandem {
    background-image: url("./images/Mandem.jpg");
    width: 100%;
    height: 600px;
}
.Tower {
    background-image: url("./images/Tower.jpg");
    width: 100%;
    height: 600px;
}
.LAS {
    background-image: url("./images/LAS.png");
    width: 100%;
    height: 600px;
}
.image-center {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.intro {
    padding-top: 100px; 
}
#Projects {
    padding-top: 40px;
    height: auto;
}
#Skills {
    padding-top: 40px;
    padding-bottom: 40px;
}
#Contact {

}
.professional-container {
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2.5em;
}
.project-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: auto;
    z-index: 0;
}
.MySlides {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }

  .desc {
    font-size: 30px;
    width: 1000px;
    text-align: center;
    margin: 0%;
    margin-bottom: 15px;
  }
  .github {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }
  .button-github {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;    
    display: flex;
  }

  .Skill-List li {
    padding: 5px;
  }